<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="MailSettings">
      <section name="EmailRiderSettings" type="Bns.Framework.Common.Messaging.EmailRiderSettings,tikona.bsolution" allowLocation="true" allowDefinition="Everywhere" />
      <section name="MailReceiverSettings" type="Bns.Framework.Common.Messaging.MailReceiverSettings,tikona.bsolution" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
    <sectionGroup name="MailReader">
      <section name="ReaderSettings" type="Bns.Framework.Common.Messaging.MailReaderSettings,tikona.bsolution" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
    <sectionGroup name="ExcelOutput">
      <section name="ExcelOutputSettings" type="Bns.Framework.Common.ExcelConvertion.ExcelOutputSettings,tikona.bsolution" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
    <sectionGroup name="Extraction">
      <section name="ExtractionSettings" type="Bns.Framework.Common.Extraction.ExtractionSettings,tikona.bsolution" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="OverComeAppPoolReCycle" value="true" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <!--<MailSettings>
    <EmailRiderSettings From="xxxxxxxxh@xxxx.xxx" To="xxxxxxxxh@xxxx.xxx" Cc="xxxxxxxxh@xxxx.xxx" Bcc="xxxxxxxxh@xxxx.xxx" UserName="xxxxxxuserxxxxxx" Password="xxxxxxpassxxxword" Host="xxxxxxxxx.xxxxxxxxx.in" Port="25" />
    <MailReceiverSettings Server="xxxxxxxxx.xxxxxxxxx.in" User="xxxxxxuserxxxxxx" Password="xxxxxxpassxxxword" UseSsl="false" Port="143" />
  </MailSettings>-->

  <ExcelOutput>
    <ExcelOutputSettings>
      <add Column="A" Value="Date" Source="E" Type="D"/>
      <add Column="B" Value="TN"/>
      <add Column="C" Value="City" Source="E"/>
      <add Column="D" Value="WorkOrder" Source="E" Type="N"/>
      <add Column="E" Value="User" Source="E" Type="N"/>
      <add Column="F" Value="Customer" Source="E"/>
      <add Column="G" Value="Address" Source="E"/>
      <add Column="H" Value="Mobile" Source="E" Type="N"/>
      <add Column="I" Value="PinCode" Source="E" Type="N"/>
      <add Column="J" Value="Big Networks"/>
      <add Column="K" Value="Ram Kumar"/>
      <add Column="L" Value=""/>
      <add Column="M" Value=""/>
      <add Column="N" Value=""/>
      <add Column="O" Value="TELNET"/>
      <add Column="P" Value="1" Type="N"/>
      <add Column="Q" Value=""/>
      <add Column="R" Value="-"/>
      <add Column="S" Value="-"/>
      <add Column="T" Value="-"/>
      <add Column="U" Value="1" Type="N"/>
      <add Column="V" Value="1" Type="N"/>
      <add Column="W" Value=""/>
      <add Column="X" Value=""/>
      <add Column="Y" Value=""/>
      <add Column="Z" Value=""/>
      <add Column="AA" Value=""/>
      <add Column="AB" Value=""/>
      <add Column="AC" Value=""/>
      <add Column="AD" Value=""/>
    </ExcelOutputSettings>
  </ExcelOutput>
  <Extraction>
    <ExtractionSettings>
      <add Key="WorkOrder" ExtractionRegex="WO ID:(?&lt;token&gt;\s\w+)" />
      <add Key="User"      ExtractionRegex="USER ID:(?&lt;token&gt;\s\w+)" />
      <add Key="Date"      ExtractionRegex="DATE:(?&lt;token&gt;.*\w+)" />
      <add Key="Customer"  ExtractionRegex="Customer Name:(?&lt;token&gt;.*\w+)"/>
      <add Key="Address"   ExtractionRegex="Address :(?&lt;token&gt;.*)City" RegexOption="Singleline" />
      <add Key="Mobile"    ExtractionRegex="Mobile No:(?&lt;token&gt;\s\w+)" />
      <add Key="City"      ExtractionRegex="City :(?&lt;token&gt;\s\w+)" />
      <add Key="PinCode"   ExtractionRegex="PinCode :(?&lt;token&gt;\s\w+)" />
    </ExtractionSettings>
  </Extraction>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
