@{
	Layout = null;
}
<!doctype html>
<html lang="en">
<head>
	<title>Tikona Broadband Chennai | Best Dealer to get unlimited network</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="fb:app_id" content="793373420686638" />
	<meta property="og:title" content="Tikona broadband connection in chennai." />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="http://www.bsolution.in/images/bsolutionOGlogo.png" />
	<meta property="og:url" content="http://www.bsolution.in/tikona.html" />
	<meta property="og:description" content="We are best Tikona broadband dealers in chennai. Please contact us to get an unlimited network." />
	<meta property="og:site_name" content="BSOLUTION" />
	<meta name="description" content="We are a best Tikona broadband dealers in chennai. Please contact us to get an unlimited network." />
	<meta name="author" content="BSOLUTION computer/laptop sales and servicing,web site design company." />
	<meta name="title" content="Tikona broadband connection in chennai." />
	<meta name="keywords" content="tikona wifi chennai, tikona chennai internet, tikona connection in chennai, tikona wifi broadband connection in chennai, tikona wifi broadband, tikona broadband, tikona internet, internet broadband connection, internet connection, internet in chennaihigh speed internet" />
	<meta name="robots" content="index, follow , all" />
	<meta name="revisit-after" content="7 days" />
	<meta name="Language" content="en-us" />
	<meta name="geo.placename" content="Chennai, Tamil Nadu, India" />
	<meta name="geo.region" content="IN-Tamil Nadu" />
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="~/Content/images/Fav.ico" type="image/x-icon" />
	<link rel="icon" href="~/Content/images/Fav.ico" type="image/x-icon" />
	@Styles.Render("~/bundles/Styles")
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,200,100,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
	<script src="http://cdn.webrupee.com/js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
	(function (i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date(); a = s.createElement(o),
		m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
	})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

	ga('create', 'UA-56330219-1', 'auto');
	ga('send', 'pageview');

</script>
</head>
<body>


	<div class="container">
	<div class='row'>
		<div class="left">
		 <h1  id='logo'>Tikona</h1>
		<h2 class="contact"><span class="typicons-phone"></span>8939411166</h2>
		</div>

	   <div id="reg-frm-wrap" class="right">
		  <div class="right-content">
			 <iframe frameborder="0" style="position:relative;width:100%;height:100%" class="feed_back_ifr" src="@Url.Action("FeedBack")"></iframe>
		   </div>
		   <!--  <a href="" class="btn" style="position: relative; float: right">Know more</a>-->
	   </div>
	</div>

	<div class='row'>
		<div id='footer' class="btnPanel">
				<p><a href="http://bsolution.in">www.bsolution.in</a></p>
			</div>
	</div>
	</div>

	<script>
		//$('iframe').contents.find('head').append($('<link/>', {rel: 'stylesheet', type: 'text/css', url: 'css/style.css'});
</script>
</body>
</html>
