<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="MailSettings">
      <section name="EmailRiderSettings" type="Bns.Framework.Common.Messaging.EmailRiderSettings,tikona.bsolution" allowLocation="true" allowDefinition="Everywhere" />
      <section name="MailReceiverSettings" type="Bns.Framework.Common.Messaging.MailReceiverSettings,tikona.bsolution" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>
  <MailSettings>
    <EmailRiderSettings From = "xxxxxxxxh@xxxx.xxx"
                To = "xxxxxxxxh@xxxx.xxx"
                Cc = "xxxxxxxxh@xxxx.xxx"
                Bcc = "xxxxxxxxh@xxxx.xxx"
                UserName = "xxxxxxuserxxxxxx"
                Password = "xxxxxxpassxxxword"
                Host = "xxxxxxxxx.xxxxxxxxx.in"
                Port = "25" />
    <MailReceiverSettings Server = "xxxxxxxxx.xxxxxxxxx.in"
      User = "xxxxxxuserxxxxxx"
      Password = "xxxxxxpassxxxword"
      UseSsl = "false"
      Port = "143"/>
  </MailSettings>
</configuration>